.streamlit/secrets.toml

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints

catboost_info/fold-0/
*.tsv
*.json

catboost_info/fold-0/learn/
*.tfevents

catboost_info/fold-0/test/
*.tfevents

catboost_info/fold-1/
*.tsv
*.json

catboost_info/fold-1/learn/
*.tfevents

catboost_info/fold-1/test/
*.tfevents

catboost_info/fold-2/
*.tsv
*.json

catboost_info/fold-2/learn/
*.tfevents

catboost_info/fold-2/test/
*.tfevents

catboost_info/fold-3/
*.tsv
*.json

catboost_info/fold-3/learn/
*.tfevents

catboost_info/fold-3/test/
*.tfevents

catboost_info/fold-4/
*.tsv
*.json

catboost_info/fold-4/learn/
*.tfevents

catboost_info/fold-4/test/
*.tfevents

catboost_info/tmp

catboost_info

src/ai_gen/__pycahce__
*.pyc

src/helpers/__pycahce__
*.pyc

src/shap_gen/__pycahce__
*.pyc